results/afriberta/checkpoint-200/config.json
results/afriberta/checkpoint-200/model.safetensors
results/afriberta/checkpoint-200/optimizer.pt
results/afriberta/checkpoint-200/rng_state.pth
results/afriberta/checkpoint-200/scheduler.pt
results/afriberta/checkpoint-200/sentencepiece.bpe.model
results/afroxlmr/checkpoint-200/config.json
results/afroxlmr/checkpoint-200/model.safetensors
results/afroxlmr/checkpoint-200/optimizer.pt
results/afroxlmr/checkpoint-200/rng_state.pth
results/afroxlmr/checkpoint-200/scheduler.pt
results/afroxlmr/checkpoint-200/sentencepiece.bpe.model
saved_models/afriberta/config.json
saved_models/afriberta/model.safetensors
saved_models/afriberta/sentencepiece.bpe.model
saved_models/afriberta/special_tokens_map.json
saved_models/afriberta/tokenizer_config.json
saved_models/afriberta/training_args.bin
saved_models/afroxlmr/config.json
saved_models/afroxlmr/model.safetensors
saved_models/afroxlmr/sentencepiece.bpe.model
saved_models/afroxlmr/special_tokens_map.json
saved_models/afroxlmr/tokenizer.json
saved_models/afroxlmr/tokenizer_config.json
saved_models/afroxlmr/training_args.bin
